.container {
    position: relative;
    height: 100vh;
    width: 100%;
    gap: 150px;
    will-change: transform;

    position: fixed;
    z-index: 4;
    transform: rotateY(30deg) rotateX(41deg) rotateZ(-15deg);
    .caroussel {
        display: flex;
        position: absolute;
        will-change: transform;
        left: 0;
        z-index: 5;
        justify-content: center;
        align-items: center;
        padding-left: 100px;
        gap: 75px;
        will-change: transform;
    }
    .caroussel_container {
        will-change: transform;

        position: absolute;
        &:first-child {
            top: -20vh;
            left: -100%;
        }

        &:last-child {
            bottom: 20vh;
            left: -50%;
        }

        #copy1 {
            position: absolute;
        }
    }
    .main_caroussel {
        display: flex;
        position: absolute;
        z-index: 5;
        left: -600px;
        justify-content: center;
        align-items: center;
        gap: 75px;
        top: 50%;
        transform: translate(0, -50%);
    }
}
