.container {
    position: relative;
    height: 100vh;
    width: 100%;
    gap: 150px;
    will-change: transform;

    position: fixed;
    z-index: 4;
    transform: rotateY(30deg) rotateX(41deg) rotateZ(-15deg);
    .caroussel {
        display: flex;
        position: absolute;
        will-change: transform;
        left: 0;
        z-index: 5;
        justify-content: center;
        align-items: center;
        padding-left: 80px;
        gap: 75px;
        will-change: transform;
    }
    .caroussel_container {
        will-change: transform;

        position: absolute;
        &:first-child {
            top: -27vh;
            left: 76%;
        }

        &:last-child {
            bottom: 19vh;
            left: -40%;
        }

        #copy1 {
            position: absolute;
        }
    }
    .main_caroussel {
        display: flex;
        position: absolute;
        z-index: 5;
        justify-content: center;
        align-items: center;
        gap: 75px;
        top: 50%;
        transform: translate(-10%, -50%);
    }
}

@media screen and (max-width: 1600px) {
    .container {
        .main_caroussel {
            transform: translate(-12%, -50%);
        }
    }
}
@media screen and (max-width: 1300px) {
    .container {
        .main_caroussel {
            transform: translate(-15%, -50%);
        }
    }
}
@media screen and (max-width: 1000px) {
    .container {
        .main_caroussel {
            transform: translate(-17%, -50%);
        }
    }
}
@media screen and (max-width: 800px) {
    .container {
        .main_caroussel {
            transform: translate(-18%, -50%);
        }
        .caroussel_container {
            &:first-child {
                top: -27vh;
                left: 76%;
            }

            &:last-child {
                bottom: 19vh;
                left: -150%;
            }
        }
    }
}
@media screen and (max-width: 500px) {
    .container {
        .caroussel_container {
            &:first-child {
                top: -17vh;
            }

            &:last-child {
                bottom: 23vh;
            }
        }
    }
}
