.card_container {
    position: relative;
    width: 36vh;
    height: 46vh;
    transition: 0.3s;
    transform: translate(20px, -20px);

    &:before {
        content: '';
        background-color: var(--shadow-color);
        transform: rotate(45deg);
        width: 36px;
        height: 36px;
        position: absolute;
        left: -11px;
        top: 7px;
        z-index: 2;
    }
    &:after {
        content: '';
        background-color: var(--shadow-color);
        transform: rotate(45deg);
        width: 20px;
        height: 22px;
        position: absolute;
        right: 10px;
        bottom: -10px;
        z-index: 2;
    }

    .containerBg {
        width: 100%;
        height: 100%;
        transition: 0.3s;
        border-radius: 11px;
        overflow: hidden;
        .bg {
            width: 150px;
            height: auto;
            position: absolute;
            left: 50%;
            top: 50%;

            transform: translate(-50%, -50%);
            object-fit: cover;
        }
    }
    .card {
        background-color: var(--card-color);
        width: 100%;
        height: 100%;
        background-position: center;
        border: unset;
        background-size: cover;
        display: flex;
        border-radius: 11px;
        position: relative;
        align-items: end;
        justify-content: end;
        z-index: 5;
        box-shadow: -20px 20px 0 0 var(--shadow-color);
        transition: 0.3s;

        .work,
        .click {
            position: absolute;
            top: 50%;
            transition: 0.2s;
            width: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
            height: auto;
        }

        .containerHover {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 25px;
            display: flex;
            flex-direction: row;
            gap: 1vh;
            justify-content: space-between;
            align-items: center;

            .hover {
                opacity: 0;
                transition: 0.3s;
                color: white;
                font-size: 9vh;
                line-height: 8vh;
                font-weight: 900;
                max-width: 70%;
            }
        }

        .text {
            color: white;
            font-size: 5vh;
            line-height: 5vh;
            padding: 25px;
        }
    }
}
#welcome {
    background-color: transparent;
    opacity: 0;
    transform: rotateY(30deg) rotateX(41deg) rotateZ(-15deg);
}
.main_card {
    box-shadow: -2px 2px 36px 1px rgba(255, 255, 255, 0.6);
    background-color: #ffffff;
    border-radius: 11px;
    width: 36vh;
    height: 46vh;

    .click {
        z-index: 9;
        filter: invert(1);
        opacity: 1;
    }
    .containerBg {
        width: 100%;
        height: 100%;
        transition: 0.3s;
        border-radius: 11px;
        overflow: hidden;
        opacity: 0.4;
        .bg {
            position: unset;
            transform: unset;
            width: 100%;
            height: auto;
        }
    }
    &:nth-child(2) {
        pointer-events: none;
        background-color: unset;
        .card {
            align-items: center;
            justify-content: center;
            .containerHover {
                flex-direction: column;
                position: unset;
                .hover {
                    opacity: 1;
                    font-size: 7vh;
                    max-width: 100%;
                }
                /* Conteneur de la barre de progression */
                .progress_container {
                    width: 100%; /* Largeur de la barre */
                    height: 5px; /* Hauteur de la barre */
                    background-color: #000000; /* Couleur de fond */
                    border-radius: 10px; /* Coins arrondis */
                    border: solid 2px white;
                    overflow: hidden;
                }

                /* Barre de progression */
                .progress_bar {
                    height: 100%;
                    background-color: #ffffff; /* Couleur de la barre */
                    width: 0%; /* Départ à 0% */
                    border-radius: 10px 0 0 10px; /* Coins arrondis sur le côté gauche */
                    animation: fillBar 2s forwards; /* Animation pour remplir la barre */
                    animation-delay: 1s; /* Délai avant le démarrage de l'animation */
                }

                /* Animation de la barre de progression */
                @keyframes fillBar {
                    from {
                        width: 0%;
                    }
                    to {
                        width: 100%;
                    }
                }
            }
        }
    }

    &:nth-child(4) {
        .containerHover {
            .hover {
                opacity: 1;
            }
        }
        pointer-events: none;
        box-shadow: unset;
        background-color: unset;
    }
    &:nth-child(13) {
        .bg {
            transform: translateY(-70px);
        }
    }

    &:hover:nth-child(5) .card {
        filter: brightness(1);
    }

    &:hover {
        box-shadow: 0px 0px 24px 6px #ffffff;

        .card_container {
            transform: translate(60px, -60px);
            .containerBg {
                opacity: 1;
            }
            cursor: pointer;
            .work {
                filter: brightness(0.3);
            }
            .hover {
                opacity: 1;
            }

            .click {
                opacity: 0;
            }
        }
    }
}
@media screen and (max-height: 700px) {
    .card_container {
        transform: translate(15px, -15px);

        .card {
            box-shadow: -15px 15px 0 0 var(--shadow-color);
        }
        &::before {
            width: 25px;
            height: 25px;
            left: -7px;
        }
    }
}
@media screen and (max-width: 500px) {
    .card_container,
    .main_card {
        width: 32vh;
        height: 40vh;
        .card {
            .containerHover {
                .hover {
                    font-size: 7.5vh;
                    line-height: 6.5vh;
                }
            }
        }
    }
}
