.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.7); // Ajuste l'opacité ici
    z-index: 10; // Assurez-vous que l'overlay est au-dessus du contenu
    opacity: 0; // Départ transparent
    overflow: hidden;
}
.container_modal {
    display: flex;
    justify-content: center;
    position: fixed;
    overflow-y: auto;
    width: 100vw;
    height: 100vh;
    z-index: 11;
    top: 0;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }

    .ref {
        max-width: 1000px;
        width: 100%;
        justify-self: center;
        background-color: #202020;
        height: -moz-fit-content;
        height: fit-content;
        z-index: 9;

        padding: 70px;
        box-sizing: border-box;
        margin: 70px 25px;
        /* box-shadow: -20px 20px 0 0 var(--shadow-color); */
        border-radius: 11px;
        .cross {
            width: 35px;
            height: 35px;
            background-color: white;
            position: absolute;
            right: 20px;
            z-index: 9;
            top: 20px;
            border-radius: 50%;
            display: flex;
            transition: 0.2s;
            align-items: center;
            justify-content: center;
            &:hover {
                cursor: pointer;
                box-shadow: 0 0 12px 0px white;
            }
        }
    }
}
@media screen and (max-width: 1050px) {
    .container_modal {
        .ref {
            max-width: 700px;
            overflow: hidden;
            padding: 0;
        }
    }
}
@media screen and (max-width: 650px) {
    .container_modal {
        .ref {
            max-width: 450px;
        }
    }
}
