.work {
    .header {
        display: flex;
        gap: 50px;
        justify-content: space-between;
        overflow: hidden;
        .banner {
            border-radius: 8px;
            width: 50%;
        }
        .text {
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .textHeader {
                display: flex;
                flex-direction: column;
                gap: 30px;
                .title {
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    p {
                        overflow: hidden;
                        font-size: 137px;
                        line-height: 110px;
                        margin-top: -5px;
                        span {
                            display: block;
                        }
                    }
                }
                p {
                    overflow: hidden;

                    span {
                        display: block;
                    }
                }
                .subtitle {
                    font-size: 30px;
                    line-height: 30px;
                    font-weight: 500;
                }
            }
            .infos {
                display: flex;
                flex-direction: column;
                font-family: 'Helvetica Neue';
                font-size: 24px;
                font-weight: 400;
                gap: 25px;
                .row {
                    display: flex;
                    justify-content: space-between;

                    .light {
                        font-size: 22px;
                        font-weight: 300;
                        color: rgba(255, 255, 255, 0.3);
                    }
                    p {
                        overflow: hidden;
                        span {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    .content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-content: space-around;
        gap: 100px;
        padding: 100px 0;
        .intro {
            color: white;
            font-family: 'Helvetica Neue';
            opacity: 0;
            transform: translateY(50%);
            font-size: 25px;
            a {
                color: white;
            }
        }
        .photos {
            display: flex;
            gap: 100px;
            flex-wrap: wrap;
            justify-content: center;
            .photo,
            video {
                width: 100%;
                flex: 1 1;
                opacity: 0;
                border-radius: 11px;
                height: auto;
                transform: translate(0, 50%);
            }
        }
        .image {
            img {
                opacity: 0;
                transform: translate(0, 50%);
                width: 100%;
                height: auto;
            }
        }
    }
}
@media screen and (max-width: 1050px) {
    .work {
        .header {
            flex-direction: column;
            position: relative;
            height: 900px;
            align-items: center;
            width: 100%;
            &:after {
                position: absolute;
                content: '';
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                background: linear-gradient(
                    to bottom,
                    rgba(255, 0, 0, 0) 2%,
                    #202020eb 39%,
                    #202020 54%
                );
            }
            .banner {
                position: absolute;
                width: 100%;
                height: auto;
                top: -60%;
            }
            .text {
                padding: 0 50px;
                position: absolute;
                bottom: 0;
                z-index: 1;
                text-align: center;
                box-sizing: border-box;
                gap: 100px;
                width: 100%;
                .textHeader {
                    justify-content: flex-end;
                    gap: 75px;
                    .title {
                        p {
                            font-size: 110px;
                            line-height: 85px;
                        }
                    }
                }
            }
        }
        .content {
            padding: 50px;
            align-items: center;
            gap: 50px;
            .intro {
                font-size: 20px;
                text-align: center;
            }
            .photos {
                gap: 50px;
                margin: 0;
            }
        }
    }
}
@media screen and (max-width: 650px) {
    .work {
        .header {
            height: 700px;

            .banner {
                top: -45%;
            }
            .text {
                padding: 0 20px;
                gap: 50px;

                .textHeader {
                    justify-content: flex-end;
                    gap: 50px;
                    .title {
                        p {
                            font-size: 80px;
                            line-height: 65px;
                        }
                    }
                    .subtitle {
                        font-size: 25px;
                        line-height: 25px;
                    }
                }
            }
        }
        .content {
            padding: 50px 20px;
            gap: 50px;

            .reseaux {
                .reseau {
                    font-size: 30px;
                }
            }
            .photos {
                gap: 25px;
            }

            .button {
                font-size: 25px;
                padding: 30px 0;
                max-width: 325px;
            }
        }
    }
}
